Body length of a response to a HEAD request

In http/af, `Response.body_length` takes a `request_method` argument that should be the method of its corresponding request. One reason for this is to set the body length of HEAD messages to be `` `Fixed 0L ``. I think it would be a good idea to also do this in h2.

From RFC7540§8.1.2.6:

> A response that is defined to have no payload, as described in RFC7230, Section 3.3.2, can have a non-zero content-length header field, even though no content is included in DATA frames.

From RFC7230§3.2.2:

> A server MAY send a Content-Length header field in a response to a HEAD request (Section 4.3.2 of RFC7231); a server MUST NOT send Content-Length in such a response unless its field-value equals the decimal number of octets that would have been sent in the payload body of a response if the same request had used the GET method.

From RFC7231§4.3.2

> The HEAD method is identical to GET except that the server MUST NOT send a message body in the response (i.e., the response terminates at the end of the header section).

As the content-length header for responses to HEAD requests is not the length of body, I think it makes sense to return `` `Fixed 0L ``. If you agree, I can make a pull request to add this behaviour.

This makes sense. Feel free to propose a PR!